  <footer class="footer">
    <div class="container both">
      <div class="footer-logo left">
        <a class="logo__link" href="javascript: void(0);">
          <img src="images/logo-footer.png" alt="logo">
        </a>
        <span class="logo__text">
            Женская одежда <br>
            больших размеров
        </span>
        <div class="link-forum">
          <span class="forum-col">
            <i class="forum-icon"></i>
          </span>
          <a href="javascript: void(0);" class="link-forum__link">Женский форум</a>
          <span class="forum-col">
            <i class="blog-icon"></i>
          </span>
          <a href="javascript: void(0);" class="link-forum__link">Женский блог</a>
        </div>
        <ul class="social-netw">
          <li class="social-netw__item social-netw__item-name">
            Лалипоп в соц.сетях
          </li>
          <li class="social-netw__item">
            <a class="vk" href="javascript: void(0);"></a>
          </li>
          <li class="social-netw__item">
            <a class="fb" href="javascript: void(0);"></a>
          </li>
          <li class="social-netw__item">
            <a class="ok" href="javascript: void(0);"></a>
          </li>
          <li class="social-netw__item">
            <a class="vk" href="javascript: void(0);"></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="js/jquery.min.js"></script>
  <script src="js/script.js"></script>

</body>
</html>
