  <footer class="footer">
    <div class="container both">
      <div class="footer-logo left">
        <a class="logo__link" href="javascript: void(0);">
          <img src="images/logo-footer.png" alt="logo">
        </a>
        <span class="logo__text">
            Женская одежда <br>
            больших размеров
        </span>
        <div class="link-forum">
          <span class="forum-col">
            <i class="forum-icon"></i>
          </span>
          <a href="javascript: void(0);" class="link-forum__link">Женский форум</a>
          <br class="br-xs">
          <span class="forum-col">
            <i class="blog-icon"></i>
          </span>
          <a href="javascript: void(0);" class="link-forum__link">Женский блог</a>
        </div>
        <ul class="social-netw">
          <li class="social-netw__item social-netw__item-name">
            Лалипоп в соц.сетях
          </li>
          <li class="social-netw__item">
            <a class="vk" href="javascript: void(0);"></a>
          </li>
          <li class="social-netw__item">
            <a class="fb" href="javascript: void(0);"></a>
          </li>
          <li class="social-netw__item">
            <a class="ok" href="javascript: void(0);"></a>
          </li>
          <li class="social-netw__item">
            <a class="vk" href="javascript: void(0);"></a>
          </li>
        </ul>
      </div>
      <div class="footer-nav left">

        <div class="footer-menu">
          <p class="footer-title">О компании</p>
          <ul class="footer-list">
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Вакансии</a>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Благотворительность</a>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Сертификаты</a>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Сотрудники</a>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Карта сайта</a>
            </li>
          </ul>
        </div>

        <div class="footer-menu">
          <p class="footer-title">Сервис и поддержка</p>
          <ul class="footer-list">
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Как сделать заказ</a>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Скидки</a>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Доставка и оплата</a>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Возврат</a>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Контакты</a>
            </li>
          </ul>
        </div>

        <div class="footer-menu">
          <p class="footer-title">Каталог товаров</p>
          <ul class="footer-list">
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Женская одежда</a>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Бижутерия</a>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Кожгалантерея</a>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link">Платки и шарфы</a>
            </li>
          </ul>
        </div>

        <div class="footer-menu">
          <ul class="footer-list footer-list_tar">
            <li class="footer-list__item">
              <span class="footer-list__phones">8 (800) 500-41-20</span>
              <span class="footer-list__pho-title">Звонок бесплатный</span>
            </li>
            <li class="footer-list__item">
              <span class="footer-list__phones">8 (495) 642-38-53</span>
              <span class="footer-list__pho-title">пн-пт с 10:00 до 19:00</span>
            </li>
            <li class="footer-list__item">
              <a href="javascript: void(0);" class="footer-list__link footer-list__link_oran">Письмо директору</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </footer>

  <script src="js/jquery.min.js"></script>
  <script src="js/script.js"></script>

</body>
</html>
