.footer{
  background-color: #f3f3f3;
  padding:0 0 18px;

}

.footer-logo{
  width: 30%;
  padding: 10px 0 0;
  .logo__text{
    margin:0;
  }
}
.forum-col{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  i{
    vertical-align: middle;
  }
}


.link-forum{
  padding: 6px 0 23px;
  &__link{
    color: #6d6d6d;
    font-size:rem(14);
    text-decoration: none;
    display: inline-block;
    padding:0 10px;
  }
}


.social-netw{

  &__item{
    display: inline-block;
    vertical-align: middle;
    &-name{
      padding:0 15px 0 0;
    }
  }
  a{
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 0 0;
  }

}

.footer-nav{
  width:70%;
  padding: 24px 0 0 6%;
}

.footer-menu{
  float: left;
  width: 25%;
}

.footer-title{
  font-size:rem(11);
  text-transform: uppercase;
  color: #535353;
  font-weight: bold;
}

.footer-list{
  &_tar{
    text-align: right;
  }
  &__item{

  }
  &__link{
    font-size:rem(13);
    color: #6d6d6d;
    text-decoration: none;
    display: inline-block;
    padding: 2px 0;
    &_oran{
      font-size:rem(12);
      color: #fb4711;
    }
    &:hover{
      text-decoration: underline;
    }
  }
  &__phones{
    display: block;
    font-size:rem(18);
    color: #4c4c4c;
  }
  &__pho-title{
    display: block;
    font-size:rem(12);
    color: #6d6d6d;
    padding: 0 0 13px;
  }
}





































