/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$advs-1-name: 'advs-1';
$advs-1-x: 0px;
$advs-1-y: 0px;
$advs-1-offset-x: 0px;
$advs-1-offset-y: 0px;
$advs-1-width: 67px;
$advs-1-height: 40px;
$advs-1-total-width: 67px;
$advs-1-total-height: 1110px;
$advs-1-image: '../images/sprite.png';
$advs-1: (0px, 0px, 0px, 0px, 67px, 40px, 67px, 1110px, '../images/sprite.png', 'advs-1', );
$advs-2-name: 'advs-2';
$advs-2-x: 0px;
$advs-2-y: 45px;
$advs-2-offset-x: 0px;
$advs-2-offset-y: -45px;
$advs-2-width: 45px;
$advs-2-height: 45px;
$advs-2-total-width: 67px;
$advs-2-total-height: 1110px;
$advs-2-image: '../images/sprite.png';
$advs-2: (0px, 45px, 0px, -45px, 45px, 45px, 67px, 1110px, '../images/sprite.png', 'advs-2', );
$advs-3-name: 'advs-3';
$advs-3-x: 0px;
$advs-3-y: 95px;
$advs-3-offset-x: 0px;
$advs-3-offset-y: -95px;
$advs-3-width: 44px;
$advs-3-height: 40px;
$advs-3-total-width: 67px;
$advs-3-total-height: 1110px;
$advs-3-image: '../images/sprite.png';
$advs-3: (0px, 95px, 0px, -95px, 44px, 40px, 67px, 1110px, '../images/sprite.png', 'advs-3', );
$advs-4-name: 'advs-4';
$advs-4-x: 0px;
$advs-4-y: 140px;
$advs-4-offset-x: 0px;
$advs-4-offset-y: -140px;
$advs-4-width: 38px;
$advs-4-height: 41px;
$advs-4-total-width: 67px;
$advs-4-total-height: 1110px;
$advs-4-image: '../images/sprite.png';
$advs-4: (0px, 140px, 0px, -140px, 38px, 41px, 67px, 1110px, '../images/sprite.png', 'advs-4', );
$advs-5-name: 'advs-5';
$advs-5-x: 0px;
$advs-5-y: 186px;
$advs-5-offset-x: 0px;
$advs-5-offset-y: -186px;
$advs-5-width: 44px;
$advs-5-height: 42px;
$advs-5-total-width: 67px;
$advs-5-total-height: 1110px;
$advs-5-image: '../images/sprite.png';
$advs-5: (0px, 186px, 0px, -186px, 44px, 42px, 67px, 1110px, '../images/sprite.png', 'advs-5', );
$blog-icon-name: 'blog-icon';
$blog-icon-x: 0px;
$blog-icon-y: 233px;
$blog-icon-offset-x: 0px;
$blog-icon-offset-y: -233px;
$blog-icon-width: 37px;
$blog-icon-height: 37px;
$blog-icon-total-width: 67px;
$blog-icon-total-height: 1110px;
$blog-icon-image: '../images/sprite.png';
$blog-icon: (0px, 233px, 0px, -233px, 37px, 37px, 67px, 1110px, '../images/sprite.png', 'blog-icon', );
$btn-up-name: 'btn-up';
$btn-up-x: 0px;
$btn-up-y: 275px;
$btn-up-offset-x: 0px;
$btn-up-offset-y: -275px;
$btn-up-width: 9px;
$btn-up-height: 5px;
$btn-up-total-width: 67px;
$btn-up-total-height: 1110px;
$btn-up-image: '../images/sprite.png';
$btn-up: (0px, 275px, 0px, -275px, 9px, 5px, 67px, 1110px, '../images/sprite.png', 'btn-up', );
$col-1-name: 'col-1';
$col-1-x: 0px;
$col-1-y: 285px;
$col-1-offset-x: 0px;
$col-1-offset-y: -285px;
$col-1-width: 18px;
$col-1-height: 17px;
$col-1-total-width: 67px;
$col-1-total-height: 1110px;
$col-1-image: '../images/sprite.png';
$col-1: (0px, 285px, 0px, -285px, 18px, 17px, 67px, 1110px, '../images/sprite.png', 'col-1', );
$col-10-name: 'col-10';
$col-10-x: 0px;
$col-10-y: 307px;
$col-10-offset-x: 0px;
$col-10-offset-y: -307px;
$col-10-width: 18px;
$col-10-height: 18px;
$col-10-total-width: 67px;
$col-10-total-height: 1110px;
$col-10-image: '../images/sprite.png';
$col-10: (0px, 307px, 0px, -307px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-10', );
$col-11-name: 'col-11';
$col-11-x: 0px;
$col-11-y: 330px;
$col-11-offset-x: 0px;
$col-11-offset-y: -330px;
$col-11-width: 18px;
$col-11-height: 18px;
$col-11-total-width: 67px;
$col-11-total-height: 1110px;
$col-11-image: '../images/sprite.png';
$col-11: (0px, 330px, 0px, -330px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-11', );
$col-12-name: 'col-12';
$col-12-x: 0px;
$col-12-y: 353px;
$col-12-offset-x: 0px;
$col-12-offset-y: -353px;
$col-12-width: 18px;
$col-12-height: 18px;
$col-12-total-width: 67px;
$col-12-total-height: 1110px;
$col-12-image: '../images/sprite.png';
$col-12: (0px, 353px, 0px, -353px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-12', );
$col-13-name: 'col-13';
$col-13-x: 0px;
$col-13-y: 376px;
$col-13-offset-x: 0px;
$col-13-offset-y: -376px;
$col-13-width: 18px;
$col-13-height: 18px;
$col-13-total-width: 67px;
$col-13-total-height: 1110px;
$col-13-image: '../images/sprite.png';
$col-13: (0px, 376px, 0px, -376px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-13', );
$col-14-name: 'col-14';
$col-14-x: 0px;
$col-14-y: 399px;
$col-14-offset-x: 0px;
$col-14-offset-y: -399px;
$col-14-width: 18px;
$col-14-height: 18px;
$col-14-total-width: 67px;
$col-14-total-height: 1110px;
$col-14-image: '../images/sprite.png';
$col-14: (0px, 399px, 0px, -399px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-14', );
$col-2-name: 'col-2';
$col-2-x: 0px;
$col-2-y: 422px;
$col-2-offset-x: 0px;
$col-2-offset-y: -422px;
$col-2-width: 18px;
$col-2-height: 17px;
$col-2-total-width: 67px;
$col-2-total-height: 1110px;
$col-2-image: '../images/sprite.png';
$col-2: (0px, 422px, 0px, -422px, 18px, 17px, 67px, 1110px, '../images/sprite.png', 'col-2', );
$col-3-name: 'col-3';
$col-3-x: 0px;
$col-3-y: 444px;
$col-3-offset-x: 0px;
$col-3-offset-y: -444px;
$col-3-width: 18px;
$col-3-height: 18px;
$col-3-total-width: 67px;
$col-3-total-height: 1110px;
$col-3-image: '../images/sprite.png';
$col-3: (0px, 444px, 0px, -444px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-3', );
$col-4-name: 'col-4';
$col-4-x: 0px;
$col-4-y: 467px;
$col-4-offset-x: 0px;
$col-4-offset-y: -467px;
$col-4-width: 18px;
$col-4-height: 18px;
$col-4-total-width: 67px;
$col-4-total-height: 1110px;
$col-4-image: '../images/sprite.png';
$col-4: (0px, 467px, 0px, -467px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-4', );
$col-5-name: 'col-5';
$col-5-x: 0px;
$col-5-y: 490px;
$col-5-offset-x: 0px;
$col-5-offset-y: -490px;
$col-5-width: 18px;
$col-5-height: 18px;
$col-5-total-width: 67px;
$col-5-total-height: 1110px;
$col-5-image: '../images/sprite.png';
$col-5: (0px, 490px, 0px, -490px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-5', );
$col-6-name: 'col-6';
$col-6-x: 0px;
$col-6-y: 513px;
$col-6-offset-x: 0px;
$col-6-offset-y: -513px;
$col-6-width: 18px;
$col-6-height: 18px;
$col-6-total-width: 67px;
$col-6-total-height: 1110px;
$col-6-image: '../images/sprite.png';
$col-6: (0px, 513px, 0px, -513px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-6', );
$col-7-name: 'col-7';
$col-7-x: 0px;
$col-7-y: 536px;
$col-7-offset-x: 0px;
$col-7-offset-y: -536px;
$col-7-width: 18px;
$col-7-height: 18px;
$col-7-total-width: 67px;
$col-7-total-height: 1110px;
$col-7-image: '../images/sprite.png';
$col-7: (0px, 536px, 0px, -536px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-7', );
$col-8-name: 'col-8';
$col-8-x: 0px;
$col-8-y: 559px;
$col-8-offset-x: 0px;
$col-8-offset-y: -559px;
$col-8-width: 18px;
$col-8-height: 18px;
$col-8-total-width: 67px;
$col-8-total-height: 1110px;
$col-8-image: '../images/sprite.png';
$col-8: (0px, 559px, 0px, -559px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-8', );
$col-9-name: 'col-9';
$col-9-x: 0px;
$col-9-y: 582px;
$col-9-offset-x: 0px;
$col-9-offset-y: -582px;
$col-9-width: 18px;
$col-9-height: 18px;
$col-9-total-width: 67px;
$col-9-total-height: 1110px;
$col-9-image: '../images/sprite.png';
$col-9: (0px, 582px, 0px, -582px, 18px, 18px, 67px, 1110px, '../images/sprite.png', 'col-9', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 605px;
$fb-offset-x: 0px;
$fb-offset-y: -605px;
$fb-width: 25px;
$fb-height: 25px;
$fb-total-width: 67px;
$fb-total-height: 1110px;
$fb-image: '../images/sprite.png';
$fb: (0px, 605px, 0px, -605px, 25px, 25px, 67px, 1110px, '../images/sprite.png', 'fb', );
$forum-icon-name: 'forum-icon';
$forum-icon-x: 0px;
$forum-icon-y: 635px;
$forum-icon-offset-x: 0px;
$forum-icon-offset-y: -635px;
$forum-icon-width: 37px;
$forum-icon-height: 37px;
$forum-icon-total-width: 67px;
$forum-icon-total-height: 1110px;
$forum-icon-image: '../images/sprite.png';
$forum-icon: (0px, 635px, 0px, -635px, 37px, 37px, 67px, 1110px, '../images/sprite.png', 'forum-icon', );
$icon-opt-1-name: 'icon-opt-1';
$icon-opt-1-x: 0px;
$icon-opt-1-y: 677px;
$icon-opt-1-offset-x: 0px;
$icon-opt-1-offset-y: -677px;
$icon-opt-1-width: 15px;
$icon-opt-1-height: 13px;
$icon-opt-1-total-width: 67px;
$icon-opt-1-total-height: 1110px;
$icon-opt-1-image: '../images/sprite.png';
$icon-opt-1: (0px, 677px, 0px, -677px, 15px, 13px, 67px, 1110px, '../images/sprite.png', 'icon-opt-1', );
$icon-opt-2-name: 'icon-opt-2';
$icon-opt-2-x: 0px;
$icon-opt-2-y: 695px;
$icon-opt-2-offset-x: 0px;
$icon-opt-2-offset-y: -695px;
$icon-opt-2-width: 15px;
$icon-opt-2-height: 13px;
$icon-opt-2-total-width: 67px;
$icon-opt-2-total-height: 1110px;
$icon-opt-2-image: '../images/sprite.png';
$icon-opt-2: (0px, 695px, 0px, -695px, 15px, 13px, 67px, 1110px, '../images/sprite.png', 'icon-opt-2', );
$icon-opt-3-name: 'icon-opt-3';
$icon-opt-3-x: 0px;
$icon-opt-3-y: 713px;
$icon-opt-3-offset-x: 0px;
$icon-opt-3-offset-y: -713px;
$icon-opt-3-width: 15px;
$icon-opt-3-height: 16px;
$icon-opt-3-total-width: 67px;
$icon-opt-3-total-height: 1110px;
$icon-opt-3-image: '../images/sprite.png';
$icon-opt-3: (0px, 713px, 0px, -713px, 15px, 16px, 67px, 1110px, '../images/sprite.png', 'icon-opt-3', );
$icon-opt-4-name: 'icon-opt-4';
$icon-opt-4-x: 0px;
$icon-opt-4-y: 734px;
$icon-opt-4-offset-x: 0px;
$icon-opt-4-offset-y: -734px;
$icon-opt-4-width: 15px;
$icon-opt-4-height: 16px;
$icon-opt-4-total-width: 67px;
$icon-opt-4-total-height: 1110px;
$icon-opt-4-image: '../images/sprite.png';
$icon-opt-4: (0px, 734px, 0px, -734px, 15px, 16px, 67px, 1110px, '../images/sprite.png', 'icon-opt-4', );
$icon-opt-5-name: 'icon-opt-5';
$icon-opt-5-x: 0px;
$icon-opt-5-y: 755px;
$icon-opt-5-offset-x: 0px;
$icon-opt-5-offset-y: -755px;
$icon-opt-5-width: 15px;
$icon-opt-5-height: 15px;
$icon-opt-5-total-width: 67px;
$icon-opt-5-total-height: 1110px;
$icon-opt-5-image: '../images/sprite.png';
$icon-opt-5: (0px, 755px, 0px, -755px, 15px, 15px, 67px, 1110px, '../images/sprite.png', 'icon-opt-5', );
$icon-size-table-name: 'icon-size-table';
$icon-size-table-x: 0px;
$icon-size-table-y: 775px;
$icon-size-table-offset-x: 0px;
$icon-size-table-offset-y: -775px;
$icon-size-table-width: 24px;
$icon-size-table-height: 22px;
$icon-size-table-total-width: 67px;
$icon-size-table-total-height: 1110px;
$icon-size-table-image: '../images/sprite.png';
$icon-size-table: (0px, 775px, 0px, -775px, 24px, 22px, 67px, 1110px, '../images/sprite.png', 'icon-size-table', );
$icon-two-1-name: 'icon-two-1';
$icon-two-1-x: 0px;
$icon-two-1-y: 802px;
$icon-two-1-offset-x: 0px;
$icon-two-1-offset-y: -802px;
$icon-two-1-width: 16px;
$icon-two-1-height: 16px;
$icon-two-1-total-width: 67px;
$icon-two-1-total-height: 1110px;
$icon-two-1-image: '../images/sprite.png';
$icon-two-1: (0px, 802px, 0px, -802px, 16px, 16px, 67px, 1110px, '../images/sprite.png', 'icon-two-1', );
$icon-two-2-name: 'icon-two-2';
$icon-two-2-x: 0px;
$icon-two-2-y: 823px;
$icon-two-2-offset-x: 0px;
$icon-two-2-offset-y: -823px;
$icon-two-2-width: 15px;
$icon-two-2-height: 16px;
$icon-two-2-total-width: 67px;
$icon-two-2-total-height: 1110px;
$icon-two-2-image: '../images/sprite.png';
$icon-two-2: (0px, 823px, 0px, -823px, 15px, 16px, 67px, 1110px, '../images/sprite.png', 'icon-two-2', );
$menu-mobail-active-name: 'menu_mobail-active';
$menu-mobail-active-x: 0px;
$menu-mobail-active-y: 844px;
$menu-mobail-active-offset-x: 0px;
$menu-mobail-active-offset-y: -844px;
$menu-mobail-active-width: 23px;
$menu-mobail-active-height: 23px;
$menu-mobail-active-total-width: 67px;
$menu-mobail-active-total-height: 1110px;
$menu-mobail-active-image: '../images/sprite.png';
$menu-mobail-active: (0px, 844px, 0px, -844px, 23px, 23px, 67px, 1110px, '../images/sprite.png', 'menu_mobail-active', );
$menu-mobail-name: 'menu_mobail';
$menu-mobail-x: 0px;
$menu-mobail-y: 872px;
$menu-mobail-offset-x: 0px;
$menu-mobail-offset-y: -872px;
$menu-mobail-width: 29px;
$menu-mobail-height: 19px;
$menu-mobail-total-width: 67px;
$menu-mobail-total-height: 1110px;
$menu-mobail-image: '../images/sprite.png';
$menu-mobail: (0px, 872px, 0px, -872px, 29px, 19px, 67px, 1110px, '../images/sprite.png', 'menu_mobail', );
$ok-name: 'ok';
$ok-x: 0px;
$ok-y: 896px;
$ok-offset-x: 0px;
$ok-offset-y: -896px;
$ok-width: 25px;
$ok-height: 25px;
$ok-total-width: 67px;
$ok-total-height: 1110px;
$ok-image: '../images/sprite.png';
$ok: (0px, 896px, 0px, -896px, 25px, 25px, 67px, 1110px, '../images/sprite.png', 'ok', );
$search-icon-name: 'search-icon';
$search-icon-x: 0px;
$search-icon-y: 926px;
$search-icon-offset-x: 0px;
$search-icon-offset-y: -926px;
$search-icon-width: 17px;
$search-icon-height: 17px;
$search-icon-total-width: 67px;
$search-icon-total-height: 1110px;
$search-icon-image: '../images/sprite.png';
$search-icon: (0px, 926px, 0px, -926px, 17px, 17px, 67px, 1110px, '../images/sprite.png', 'search-icon', );
$sort-btn-1-hover-name: 'sort-btn-1-hover';
$sort-btn-1-hover-x: 0px;
$sort-btn-1-hover-y: 948px;
$sort-btn-1-hover-offset-x: 0px;
$sort-btn-1-hover-offset-y: -948px;
$sort-btn-1-hover-width: 14px;
$sort-btn-1-hover-height: 14px;
$sort-btn-1-hover-total-width: 67px;
$sort-btn-1-hover-total-height: 1110px;
$sort-btn-1-hover-image: '../images/sprite.png';
$sort-btn-1-hover: (0px, 948px, 0px, -948px, 14px, 14px, 67px, 1110px, '../images/sprite.png', 'sort-btn-1-hover', );
$sort-btn-1-name: 'sort-btn-1';
$sort-btn-1-x: 0px;
$sort-btn-1-y: 967px;
$sort-btn-1-offset-x: 0px;
$sort-btn-1-offset-y: -967px;
$sort-btn-1-width: 14px;
$sort-btn-1-height: 14px;
$sort-btn-1-total-width: 67px;
$sort-btn-1-total-height: 1110px;
$sort-btn-1-image: '../images/sprite.png';
$sort-btn-1: (0px, 967px, 0px, -967px, 14px, 14px, 67px, 1110px, '../images/sprite.png', 'sort-btn-1', );
$sort-btn-2-hover-name: 'sort-btn-2-hover';
$sort-btn-2-hover-x: 0px;
$sort-btn-2-hover-y: 986px;
$sort-btn-2-hover-offset-x: 0px;
$sort-btn-2-hover-offset-y: -986px;
$sort-btn-2-hover-width: 14px;
$sort-btn-2-hover-height: 14px;
$sort-btn-2-hover-total-width: 67px;
$sort-btn-2-hover-total-height: 1110px;
$sort-btn-2-hover-image: '../images/sprite.png';
$sort-btn-2-hover: (0px, 986px, 0px, -986px, 14px, 14px, 67px, 1110px, '../images/sprite.png', 'sort-btn-2-hover', );
$sort-btn-2-name: 'sort-btn-2';
$sort-btn-2-x: 0px;
$sort-btn-2-y: 1005px;
$sort-btn-2-offset-x: 0px;
$sort-btn-2-offset-y: -1005px;
$sort-btn-2-width: 14px;
$sort-btn-2-height: 14px;
$sort-btn-2-total-width: 67px;
$sort-btn-2-total-height: 1110px;
$sort-btn-2-image: '../images/sprite.png';
$sort-btn-2: (0px, 1005px, 0px, -1005px, 14px, 14px, 67px, 1110px, '../images/sprite.png', 'sort-btn-2', );
$top-menu-mob-hover-name: 'top-menu-mob-hover';
$top-menu-mob-hover-x: 0px;
$top-menu-mob-hover-y: 1024px;
$top-menu-mob-hover-offset-x: 0px;
$top-menu-mob-hover-offset-y: -1024px;
$top-menu-mob-hover-width: 14px;
$top-menu-mob-hover-height: 13px;
$top-menu-mob-hover-total-width: 67px;
$top-menu-mob-hover-total-height: 1110px;
$top-menu-mob-hover-image: '../images/sprite.png';
$top-menu-mob-hover: (0px, 1024px, 0px, -1024px, 14px, 13px, 67px, 1110px, '../images/sprite.png', 'top-menu-mob-hover', );
$top-menu-mob-name: 'top-menu-mob';
$top-menu-mob-x: 0px;
$top-menu-mob-y: 1042px;
$top-menu-mob-offset-x: 0px;
$top-menu-mob-offset-y: -1042px;
$top-menu-mob-width: 17px;
$top-menu-mob-height: 14px;
$top-menu-mob-total-width: 67px;
$top-menu-mob-total-height: 1110px;
$top-menu-mob-image: '../images/sprite.png';
$top-menu-mob: (0px, 1042px, 0px, -1042px, 17px, 14px, 67px, 1110px, '../images/sprite.png', 'top-menu-mob', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 1061px;
$vk-offset-x: 0px;
$vk-offset-y: -1061px;
$vk-width: 24px;
$vk-height: 25px;
$vk-total-width: 67px;
$vk-total-height: 1110px;
$vk-image: '../images/sprite.png';
$vk: (0px, 1061px, 0px, -1061px, 24px, 25px, 67px, 1110px, '../images/sprite.png', 'vk', );
$your-cart-icon-name: 'your-cart-icon';
$your-cart-icon-x: 0px;
$your-cart-icon-y: 1091px;
$your-cart-icon-offset-x: 0px;
$your-cart-icon-offset-y: -1091px;
$your-cart-icon-width: 20px;
$your-cart-icon-height: 19px;
$your-cart-icon-total-width: 67px;
$your-cart-icon-total-height: 1110px;
$your-cart-icon-image: '../images/sprite.png';
$your-cart-icon: (0px, 1091px, 0px, -1091px, 20px, 19px, 67px, 1110px, '../images/sprite.png', 'your-cart-icon', );
$spritesheet-width: 67px;
$spritesheet-height: 1110px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($advs-1, $advs-2, $advs-3, $advs-4, $advs-5, $blog-icon, $btn-up, $col-1, $col-10, $col-11, $col-12, $col-13, $col-14, $col-2, $col-3, $col-4, $col-5, $col-6, $col-7, $col-8, $col-9, $fb, $forum-icon, $icon-opt-1, $icon-opt-2, $icon-opt-3, $icon-opt-4, $icon-opt-5, $icon-size-table, $icon-two-1, $icon-two-2, $menu-mobail-active, $menu-mobail, $ok, $search-icon, $sort-btn-1-hover, $sort-btn-1, $sort-btn-2-hover, $sort-btn-2, $top-menu-mob-hover, $top-menu-mob, $vk, $your-cart-icon, );
$spritesheet: (67px, 1110px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
